
<h1 class="classR">Хранилище продуктов</h1>
<div class="btn">
<button mat-raised-button (click)="openDialog()">Добавить продукт</button>
<button mat-raised-button (click)="deleteAllProducts()" class="btnAlldel">Удалить все продкты</button>
</div>
<div class="list">
  <ng-container *ngIf="isLoading$ | ngrxPush; else products ">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-container>
  <ng-template #products>
    <ng-container *ngFor="let product of products$ | ngrxPush">
      <app-products-card
        [product]="product"
        (productDelete)="deleteProduct($event)"
        (productEdit)="editProduct($event)"
        (productAddToBasket)="onAddToBasket($event)">
        >
      </app-products-card>
    </ng-container>
  </ng-template>
</div>
