.list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 30px;
}
.btnAlldel{
  margin-left: 20px;
}
.classR {
  display: flex;
  justify-content: center;

}
.btn{
  justify-content: center;
  display: flex;
}
